<h1>This is the homepage </h1>

<%= @person %> <br>



<%= link_to("hello world" , homepage_path) %>  <br>

<%= link_to("hello world" , profile_path) %>

<%= link_to("links to " , links_path) %>





<%= render "transaction" %>